{% extends "base.html" %} 
{% block content %}
{% if user.is_authenticated %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 mt-3 left">
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title">ADD POST</h2>
						<form method='POST'>
							{% csrf_token %}
							{{form.media}}
							{{form.as_p}}
							<button>Post</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var name = "{{user.id}}"
		document.getElementById("elder").value=name;
	</script>
	
{% else %}
	<p>NOT ALLOWED</p>
{% endif %}
{% endblock %}







